<template>
  <div class="contact">
  
  <div id="map">
 
 <GmapMap
  :center="{lat:51, lng:0}"
  :zoom="7"
  map-type-id="terrain"
  style="width: 500px; height: 300px"
>
  <GmapMarker
    :key="index"
    v-for="(m, index) in markers"
    :position="m.position"
    :clickable="true"
    :draggable="true"
    @click="center=m.position"
  />
</GmapMap>
 
  </div>
    
    <div id="booking" style="width:500px;height:500px;border:1px solid; border-color: white;">
    <h1>Make a Booking</h1>
    <h2>Booking Type</h2>
    <select>
  <option value="BookingType"></option>
  <option value="Dinner">Dinner</option>
  <option value="Drinks">Drinks</option>
  <option value="Private Hire">Private Hire</option>
  <option value="Pub Quizz">Pub Quizz</option>
</select>

<h2>Number of people</h2>
    <select>
   <option v-for="item in num_ppl" :value="item" :key="item">{{item}}</option>
</select>

<h2>Date</h2>
<datepicker placeholder="Select Date" id="calendar"></datepicker>


    </div>
    
  </div>
</template>

<script>

import Datepicker from 'vuejs-datepicker';

export default {
 name: 'Contact',
 components: {
    Datepicker
  },

 data()
 {
  return {
   markers: [{ position:{lat: 10.0, lng: 10.0}}]
    }
  },
  
  computed: {
    num_ppl() {
      const result = [];
      for(var i = 0; i <= 50; i++)
      {
        result.push(i);
      }
      return result;
    }
  }
}

</script>

<style>

#map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }
 
 select::-ms-expand {	display: none; }
select{
    -webkit-appearance: none;
    appearance: none;
    
    width: 200px;
}

input{
width: 200px;
margin: 0px;
padding: 0px;
margin-left: 150px;
margin-right: 150px;
border-color: black;
border-width: 1px;
border-radius: 5px;

}

#booking{
	background: white;
	color: rgb(0, 0, 0);
	font-size: 1vw;
}

.vdp-datepicker__calendar{

padding: 0px;
margin-left: 100px;
margin-right: 100px;

}





 
 
</style>
