<template>
  <div class="hello">
  
  
  
  
  <div class="w3-container">
</div>

<div class="display-container" style="max-width:800px">
  <img class="mySlides" :src=img_src style="width:100%">
    <div class="left"  v-on:click="next(--img_num)">&#10094;</div>
    <div class="right" v-on:click="next(++img_num)">&#10095;</div>
    <span class="badge" v-on:click="next(0)"  v-bind:style="{ background: 'rgba(255, 255, 255,'+ activeColor[0] +')'  }"></span>
    <span class="badge" v-on:click="next(1)"  v-bind:style="{ background: 'rgba(255, 255, 255,'+ activeColor[1] +')'  }" style="left: 32%;"></span>
    <span class="badge" v-on:click="next(2)"  v-bind:style="{ background: 'rgba(255, 255, 255,'+ activeColor[2] +')'  }" style="left: 42%;"></span>
    <span class="badge" v-on:click="next(3)"  v-bind:style="{ background: 'rgba(255, 255, 255,'+ activeColor[3] +')'  }" style="left: 52%;"></span>

</div>

    <h1>The Burger & Beer Joint</h1>
    <p>
     The Burger & Beer Joint is a casual quick serve restaurant with a welcoming atmosphere to unwind after a day at work, for a date night dinner, lunch time escape or just meeting friends out for a few drinks.
     With seating inside or out, we have a wide range of tasty burgers - always fresh, never frozen.
     So much more than burgers, we serve gourmet sandwiches, delicious salads, hot dogs, wings, fries.
     We have 24 beers on tap with a huge variety of local craft beer. We also serve local wines, Prosecco on tap and refreshing milkshakes! Burger & Beer has something for everyone.
     We offer a family friendly atmosphere with kids menu available. We even have gluten-free and vegan options available upon request.
    </p>
  </div>
</template>



<script>
/*
 <img class="mySlides" v-bind:src="img_src" style="width:100%">
 <img class="mySlides" :src="img_src" style="width:100%">
*/
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
 data(){
  return{
  img_num: 0,
  img_src: require("../assets/Beer.png"),
  activeColor: [1,0,0,0]
   }
  },
  methods:{
   next: function (num) {
   
	if(num==-1)
	{
		num=3;
		this.img_num=3;
		console.log(num);
	}
   num= num%4;
   this.img_num=num;
   
   this.activeColor=[0,0,0,0]; 
   this.activeColor[num]=1;
   
   
   if(num==0)
	{
		this.img_src= require("../assets/Beer.png");
	}
	else if(num==1)
	{
		this.img_src= require("../assets/BurgersAndBeercopie.png");
	}
	else if(num==2)
	{
		this.img_src= require("../assets/Counter.png");
	}
	else if(num==3)
	{
		this.img_src= require("../assets/DinningArea.jpg");
	}
   
   }
  
  
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.hello{
background: black;
color: white;
margin-left: 5vw;
margin-right: 5vw;
font-size: 1.5vw;


}

li {
  display: inline-block;
  margin: 10px;
}
a {
  color: #42b983;
}

p{

}

.display-container{
position: relative;
display: block;
  margin-left: auto;
  margin-right: auto;
}



.left, .right, .badge {cursor:pointer}
.badge {height:13px;width:13px;padding:0}


.badge{
      
      position: absolute;
      left: 22%;
      top: 80%;
      width: 2vw;
      height: 2vw;
      border:1px solid rgba(180, 180, 180);  
      border-radius:50%;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      
    }

.left{
float:left;
}

.right{
float:right;
}



</style>
